.banner{
    text-align: center;
    background-color: antiquewhite;
    border-radius: 20px;
    padding: 5px;
    font-family: 'Wix Madefor Text', sans-serif;
}
.banner h1{
font-style:italic;
}
.banner h2{
    font-family: 'Macondo', cursive;
}

